services:
  api:
    build:
      context: ./backend/api
      
    # TODO: handle the sigterm signal properly in the api
    stop_grace_period: 0.5s
    image: cumulus-api:latest
    container_name: cumulus-api
    env_file: ./backend/api/.env
    ports:
      - "3000:3000"
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        API: http://api:3000
    image: cumulus-frontend:latest
    container_name: cumulus-frontend
    # env_file: ./frontend/.env
    environment:
      - PUBLIC_API_URL=http://api:3000
      - ORIGIN=${ORIGIN}
    ports:
      - "3001:3001"
    restart: always
    depends_on:
      api:
        condition: service_started
    
  db:
    image: postgres:18-alpine
    restart : always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080